nav {
    background-color: white;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
  
    right: 190px;
    
}
/* Style for the user name */
.username {
    font-weight: bold;
    color: blue;
    position: absolute;
    top: 10px;
    right: 130px;
}

.note {
    font-weight: bold;
        color: black;
        position: absolute;
        top: 10px;
        left: 108px;
}